<!-- <footer>
    <div class="f-info">
     <div class="f-info-socials">
         <i class="fa-brands fa-square-facebook"></i>
         <i class="fa-brands fa-instagram"></i>
         <i class="fa-brands fa-linkedin"></i>
 
     </div>
     <div class="f-info-brand">&copy; Bnb Private Limited</div>
     <div class="f-info-links">
         <a href="/privacy">Privacy</a>
         <a href="/terms">Terms</a>
 
     </div>
    </div>
 
 </footer> -->

 <!-- ======= Footer ======= -->
 <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <h3>Krishi Sarthi</h3>
            <p>Empowering Farmers: Your comprehensive agricultural companion. Access real-time market prices, government schemes, buy and sell produce, rent or purchase equipment, and optimize soil health with our soil lab testing feature. Join our community and grow with confidence. Welcome to the future of farming.</p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              Bx-Annex - 204 <br>
              VIT Vellore<br>
              Vellore,TamilNadu<br>
              <strong>Phone:</strong> +1 5589 55488 55<br>
              <strong>Email:</strong> kritisarthi@gmail.com<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="fa-brands fa-twitter"></i></a>
              <a href="#" class="facebook"><i class="fa-brands fa-facebook"></i></a>
              <a href="#" class="instagram"><i class="fa-brands fa-instagram"></i></a>
              <a href="#" class="linkedin"><i class="fa-brands fa-linkedin"></i></a>
            </div>

          </div>

          <div class="col-lg-3 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Stay Ahead in Agriculture: Subscribe to our newsletter for the latest updates on market trends, government policies, expert tips, and exclusive offers. Join a thriving community of farmers dedicated to success and sustainability. Don't miss out – sign up today and cultivate your future with us!</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Krishi Sarthi</strong>. All Rights Reserved
      </div>
      <div class="credits">
      
        Designed by <a href="">Varrsan</a>
      </div>
    </div>
  </footer><!-- End Footer -->